@supports not (font-variation-settings: normal) {
  @font-face {
    font-family: inter;
    src: url("./assets/fonts/static/Inter-Regular.ttf");
    font-weight: 400;
  }

  @font-face {
    font-family: inter;
    src: url("./assets/fonts/static/Inter-SemiBold.ttf");
    font-weight: 600;
  }
}

@supports (font-variation-settings: normal) {
  @font-face {
    font-family: inter;
    src: url("./assets/fonts/Inter-VariableFont_wght.ttf");
    font-weight: 100 1000;
  }
}

.heading-xl,
.heading-l,
.heading-m,
.heading-s {
  font-family: inter;
  font-weight: 600;
  line-height: 110%;
}

.heading-xl {
  font-size: 64px;
  letter-spacing: -3px;
}

.heading-l {
  font-size: 48px;
  letter-spacing: -2px;
}

.heading-m {
  font-size: 24px;
  letter-spacing: -1px;
}

.heading-s {
  font-size: 20px;
}

.body-m,
.body-m-bold {
  font-size: 16px;
  font-family: inter;
  line-height: 150%;
}

.body-m {
  font-weight: 400;
}

.body-m-bold {
  font-weight: 600;
}
.body-s {
  font-size: 14px;
  font-family: inter;
  font-weight: 400;
  line-height: 150%;
}

.color-gunmetal {
  color: var(--gunmetal);
}

.color-dark-electric-blue {
  color: var(--dark-electric-blue);
}

.color-blue {
  color: var(--blue);
}

.color-white {
  color: white;
}

.gray-border {
  border: 1px solid #d8e2e7;
}

@media screen and (max-width: 1024px) {
  .heading-xl {
    font-size: 48px;
    letter-spacing: -2px;
    line-height: 53px;
  }

  .heading-l {
    font-size: 32px;
    line-height: 35px;
    letter-spacing: 1px;
  }
}
